@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div id="app">Loading...</div>

<!-- div class="text-center">
    <h1 class="display-4">Blazor</h1>

    <component type="typeof(Blazor.Client.Components.Counter)" param-InitialValue="0" render-mode="ServerPrerendered" >
</!--div -->

@section Scripts {
    <script src="_framework/blazor.webassembly.js"></script>
    <!-- script src="_framework/blazor.server.js"></!--script -->
}